html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-nav {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;

	background-color: #849d8f;
}

.site-nav, .sub-menu {
	list-style: none;
}

.main-nav a {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.sub-menu {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	background-color: #f8f7f4;
}

.sub-menu a {
	color: #323232;
	text-decoration: none;
}

.sub-menu-1 a {
	font-weight: 700;
	text-decoration: none;
}

.sub-menu-1 {
	border-bottom: 1px solid #323232;
}

.main-nav a:hover,
.main-nav a:focus {
	background-color: #f7f6f3;
	color: #333333;
}

.sub-menu a:hover,
.sub-menu a:focus {
	background-color: #fbded7;
	color: #e84d37;
}

.sub-menu a:active {
	background-color: #f6b5a5;
	color: #e84d37;
}

a.sub-menu-current,
a.sub-menu-current:hover,
a.sub-menu-current:focus,
a.sub-menu-current:active,
a.page-current,
a.page-current:hover,
a.page-current:focus,
a.page-current:active  {
	background-color: #d07058;
	color: #ffffff;
}

.modal {
	background-color: #f8f7f4;
}

.user-buttons button {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: #9db1a5;
}

.user-buttons input {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.subscribe-container input[type="email"],
.modal-feedback input,
.modal-feedback textarea {
	color: #999999;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.user-buttons input:hover,
.subscribe-container input[type="email"]:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
	border-style: solid;
    border-width: 2px;
    border-color: rgb(154, 154, 154);
}

.user-buttons input:focus,
.subscribe-container input[type="email"]:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus {
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(46, 136, 228);
  	color: #323232;
}


.login-password-info a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	background-color: #f8f7f4;
	text-decoration: underline;
	text-decoration-color: rgba(50, 50, 50, 0.302);
}

.login-password-info a:hover,
.login-password-info a:focus,
.login-password-info a:active {
	color: #e84d37;
	text-decoration-color: rgba(232, 77, 55, 0.302);
}

.button {
	background-color: #e74a35;
	color: #fefefe;
	border: none;
	text-align: center;
	vertical-align: middle;
}

.button:hover {
	background-color: #f17c64;
}

.header-button {
	border: none;
	text-align: center;
	vertical-align: middle;
}

.header-button:hover,
.header-button:focus {
	color: #323232;
	background-color: #f7f6f3;
}


.button.login-link {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.header-schedule-phone p{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
	text-align: right;
}

.header-schedule-phone p:last-child {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: right;
}

/*.slider {
	position: relative;
}

.slides {
	position: absolute;
	top: -651px;
	left: 70px;
}

.slides:not(.slide1) {
	opacity: 0;
	z-index: 0;
}

.slide-btn:nth-child(2):active ~ .slides.slide2 {
	opacity: 1;
	z-index: 1;
}*/

.slides h3 {
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
}

.slides a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
}

.slides-switches {
	list-style: none;
}

.slide-btn {
	border: none;
	cursor: pointer;
	width: 21px;
	height: 21px;
	border-radius: 50%;
}

.slide-btn:not(.slide-btn-active) {
	border: none;
	background-color: #849d8f;
	background-image: url("../img/radio-off.svg");
}

.slide-btn:not(.slide-btn-active):hover,
.slide-btn:not(.slide-btn-active):focus {
	background-color: #b2c1b7;
}

.slide-btn:not(.slide-btn-active):active {
	background-color: #ffffff;
}

.bonuses-item {
	width: 560px;
	height: 229px;
	border-radius: 15px;
}

.bonuses-item h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item {
	background-image: url("../img/raspberry-background.jpg");
}

.bonuses-item:last-child {
	background-image: url("../img/chocolate-background.jpg");
}

.hits ul, .catalog-container ul {
	list-style: none;
}

img.icecream-item {
	border-radius: 50%;
}

.item-price {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
}

.kg {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
}

.catalog-item h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color:  rgba(255, 255, 255, 0.2);
	text-align: center;
}

.catalog-item h3:hover,
.catalog-item h3:focus,
.catalog-item h3:active {
	color: #ffbc9e;
	text-decoration-color:  rgba(255, 188, 158, 0.3);
}

.features {
	background-image: url("../img/waffle-background.jpg");
	color: #323232;
}

.features h3 {
	font-size: 24px;
	list-style: 30px;
	font-weight: 500;
}

.features-list {
	list-style: none;
}

.features-list p {
	font-size: 16px;
	list-style: 22px;
	font-weight: 400;
}

.news {
	width: 560px;
	height: 220px;
	border-radius: 15px;
	background-color: #ffffff;
	background-image: url("../img/strawberry-background.png");
	background-position: 204px -36px;
	background-repeat: no-repeat;
	color: #323232;
}

.news h2 {
	font-size: 16px;
	list-style: 22px;
	font-weight: 500;
}

.news a {
	font-size: 24px;
	list-style: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

.subscribe-section {
	width: 560px;
	height: 220px;
	border-radius: 10px;
	padding-top: 5px;
	background-image: url("../img/postal-background.svg");
}

.subscribe-container {
	margin: auto auto;
	width: 548px;
	height: 210px;
	border-radius: 10px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	background-color: #f8f7f4;
	overflow: hidden;
}

.subscribe-container .button, .map button {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map p:first-child {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.map p:nth-child(2) {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map p:nth-child(3) {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.map p:nth-child(4) {
	color: #323232;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.map p:nth-child(5) {
	color: #323232;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

.footer-features a,
.footer-copyright a {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.footer-features a:hover,
.footer-features a:focus,
.footer-features a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
	text-decoration-color:  rgba(255, 188, 158, 0.3);
}

.heart + a {
	font-weight: 700;
}

.footer-copyright p {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.modal-feedback p {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.modal-feedback button, .modal-basket .button {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.main-footer ul {
	list-style: none;
}

.modal-basket {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}
.basket-price {
	color: #999999;
}

.total-price span {
	color: #323232;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.full-basket button {
	color: #323232;
	background-color: #f7f6f3;
}

.container ul {
	list-style: none;
}

.breadcrumbs a, .breadcrumbs li {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs a {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	text-decoration-color:  rgba(255, 188, 158, 0.3);
}

h1.page-title {
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.catalog-filter label, .catalog-filter legend {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-price-background {
	width: 218px;
	height: 36px;
}

.runner-left svg:hover,
.runner-left svg:focus,
.runner-right svg:hover,
.runner-right svg:focus {
	cursor: pointer;
}

.filter option, .filter-option label {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

button.filter-button {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #a6b7ae;
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(255, 255, 255);
}

button.filter-button:hover,
button.filter-button:focus {
	background-color: #fbfcfb;
	color: #323232;
}

.catalog-filter fieldset {
	border: none;
}

.catalog-filter select, .filter-price-background, fieldset ul {
	background-color: #a6b7ae;
}

.catalog-filter select {
	border: none;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.catalog-filter select:hover,
.catalog-filter select:focus {
	color: #323232;
}

.pagination-list {
	list-style: none;
}

.pagination-item {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	padding-top: 3px;
}

.pagination-list a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-item:not(.pagination-item-current):hover,
.pagination-item:not(.pagination-item-current):focus {
	background-color: #9db1a5;
}

.pagination-item:not(.pagination-item-current):active {
	background-color: #ffffff;
}

.pagination-item:not(.pagination-item-current):active a {
	color: #323232;
}

.pagination-item-current {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
}

.pagination-item-current a {
	color: #323232;
}


	


/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

body {
	background-color: #849d8f;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mom-of-slides {
	height: 881px;
	margin-left: 80px;
	position: relative;
	width: 1079px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	opacity: 0;
	z-index: 0;
}

input:nth-of-type(1):checked ~ .slider > .slide1,
input:nth-of-type(2):checked ~ .slider > .slide2,
input:nth-of-type(3):checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
}

.mom-of-slides .controls {
	top: 563px;
	left: -53px;
	position: absolute;
}

.mom-of-slides label {
	cursor: pointer;
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 5px;
	background-image: url("../img/radio-off.svg");
	position: relative;
	z-index: 100;
}

.mom-of-slides label:hover,
input:nth-of-type(1):checked ~ .controls label:nth-of-type(1),
input:nth-of-type(2):checked ~ .controls label:nth-of-type(2),
input:nth-of-type(3):checked ~ .controls label:nth-of-type(3) {
	background-image: url("../img/radio-on.svg");
}

.slide-description {
	position: absolute;
	height: 120px;
	text-align: center;
	top: 398px;
	z-index: 0;
	padding-left: 190px;
}

.slide-description h3 {
	font-size: 60px;
	color: white;
	width: 670px;
	line-height: 1;
}

.slide3 h3 {
	width: 640px;
}

.bonuses-item {
	width: 560px;
	height: 229px;
	border-radius: 15px;
	color: #ffffff;
}

.bonuses-item-1 {
	background-image: url("../img/raspberry-background.jpg");
}

.bonuses-item-2 {
	background-image: url("../img/chocolate-background.jpg");
}

.icecream-item {
	border-radius: 50%;
}

.filter-price-background {
	width: 220px;
	height: 38px;
}
*/





