html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
}

.body-1 {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 116px top;
}

.body-2 {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 96px top;
}

.body-3 {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: center top;
}

.catalog-page-background {
	background-color: #849d8f;
	background-image: none;
}

a {
	text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1148px;
	margin: 0 auto;
}

.header-wrapper {
	display: flex;
}

.logo-image {
	margin: 0;
	padding: 0;
	margin-top: 9px;
	margin-right: 10px;
}

.main-nav {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #ffffff;
}

.site-nav {
	display: flex;
	margin: 0;
	margin-right: auto;
	margin-top: 23px;
	padding: 0;
}

.user-buttons {
	display: flex;
	margin-left: auto;
	margin-top: 23px;
}

.header-button {
	height: 32px;
	border-radius: 15px;
}

.site-nav, .sub-menu {
	list-style: none;
}

.header-schedule-phone p {
	margin: 0;
	padding: 0;
}

.main-nav a {
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.sub-menu {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	background-color: #f8f7f4;
}

.sub-menu a {
	color: #323232;
	text-decoration: none;
}

.sub-menu-1 a {
	font-weight: 700;
	text-decoration: none;
}

.sub-menu-1 {
	border-bottom: 1px solid #323232;
}

.main-nav a:hover,
.main-nav a:focus {
	background-color: #f7f6f3;
	color: #333333;
}

.sub-menu a:hover,
.sub-menu a:focus {
	background-color: #fbded7;
	color: #e84d37;
}

.sub-menu a:active {
	background-color: #f6b5a5;
	color: #e84d37;
}

a.sub-menu-current,
a.sub-menu-current:hover,
a.sub-menu-current:focus,
a.sub-menu-current:active,
a.page-current,
a.page-current:hover,
a.page-current:focus,
a.page-current:active  {
	background-color: #d07058;
	color: #ffffff;
}

.modal {
	background-color: #f8f7f4;
}

.user-buttons button {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.4);
}

.search-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url("../img/search-logo.svg");
	background-repeat: no-repeat;
	background-size: 17px 17px;
	background-position: center;
}

.search-button:hover,
.search-button:focus {
	background-image: url("../img/search-logo-b.svg");
}

.search-form,
.login-form,
.sub-menu,
.modal-feedback,
.modal-basket {
	display: none;
}

.user-buttons input {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.modal-feedback textarea {
	border-width: 2px;
	border-color: transparent;
}

.subscribe-container input[type="email"],
.modal-feedback input,
.modal-feedback textarea {
	color: #999999;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.user-buttons input:hover,
.subscribe-container input[type="email"]:hover,
.modal-feedback input:hover,
.modal-feedback textarea:hover {
	border-style: solid;
    border-width: 2px;
    border-color: rgb(154, 154, 154);
}

.user-buttons input:focus,
.subscribe-container input[type="email"]:focus,
.modal-feedback input:focus,
.modal-feedback textarea:focus {
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(46, 136, 228);
  	color: #323232;
}


.login-password-info a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	background-color: #f8f7f4;
	text-decoration: underline;
	text-decoration-color: rgba(50, 50, 50, 0.302);
}

.login-password-info a:hover,
.login-password-info a:focus,
.login-password-info a:active {
	color: #e84d37;
	text-decoration-color: rgba(232, 77, 55, 0.302);
}

.button {
	background-color: #e74a35;
	color: #fefefe;
	border: none;
	text-align: center;
	vertical-align: middle;
}

.button:hover {
	background-color: #f17c64;
}

.header-button {
	border: none;
	text-align: center;
	vertical-align: middle;
}

.header-button:hover,
.header-button:focus {
	color: #323232;
	background-color: #f7f6f3;
}


.button.login-link {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.header-schedule-phone p{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	color: #ffffff;
	text-align: right;
}

.header-schedule-phone p:last-child {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-align: right;
}

.slider {
	position: relative;
}

.slides {
	display: none;
	position: absolute;
	margin-top: 194px;
	width: 100%;
}

.slide-active {
	display: block;
}

.slide1 .slide-description {
	width: 679px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 4px;
}

.slide2 .slide-description {
	width: 653px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 4px;
}

.slide3 .slide-description {
	width: 653px;
	height: 127px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 6px;
}

/*.slide1 {
	position: absolute;
	top: -359px;
	left: 51px;
}

.slide2 {
	position: absolute;
	top: -359px;
	left: 31px;
}

.slide3 {
	position: absolute;
	top: -359px;
	left: 33px;
}*/

.slides h3 {
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
}

/*.slide3 .slide-description {
	width: 632px;
	height: 127px;
	margin-top: -527px;
	margin-left: auto;
	margin-right: auto;
}

.slide2 .slide-description {
	width: 644px;
	height: 127px;
	margin-top: -532px;
	margin-left: 217px;
	margin-right: auto;
}

.slide1 .slide-description {
	width: 670px;
	height: 127px;
	margin-top: -554px;
	margin-left: auto;
	margin-right: auto;
}
*/
.slides a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
}

.slides-switches {
	position: relative;
	top: 444px;
	display: flex;
	width: 78px;
	height: 20px;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 5;
}

.slide-btn {
	border: none;
	cursor: pointer;
	width: 21px;
	height: 21px;
	border-radius: 50%;
}

.slide-btn-active {
	background-color: #ffffff;
}

.slide-btn:not(.slide-btn-active) {
	border: 2px solid #ffffff;
	background-color: transparent;
}

.slide-btn:not(.slide-btn-active):hover,
.slide-btn:not(.slide-btn-active):focus {
	background-color: rgba(255,255,255,0.4);
}

.slide-btn:not(.slide-btn-active):active {
	background-color: #ffffff;
}

.reservation-both-button {
	display: block;
	border-radius: 40px;
	padding-top: 8px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 23px;
	width: 278px;
	height: 63px;
}

.bonuses {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 508px;
}

.bonuses-item {
	width: 560px;
	height: 229px;
	border-radius: 15px;
	margin-bottom: 40px;
}

.bonuses-item h3 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.bonuses-item {
	background-image: url("../img/raspberry-background.jpg");
	background-position: center;
}

.bonuses-item:last-child {
	background-image: url("../img/chocolate-background.jpg");
	background-position: center;
}

.hits ul, .catalog-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hits > ul,
.catalog-container > ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.catalog-item {
	position: relative;
	width: 267px;
	min-height: 327px;
	margin: 0;
	margin-right: 26px;
	margin-bottom: 40px;
	padding: 0;
	z-index: 0;
}

.hits li {
	margin-bottom: 15px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item p {
	margin: 0;
	padding: 0;
}

img.icecream-item {
	border-radius: 50%;
}

.item-price {
	position: absolute;
	top: 210px;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
}

.ruble {
	display: inline-block;
	width: 31px;
	height: 33px;
	margin-left: 3px;
	background-image: url("../img/ruble-logo.svg");
	background-repeat: no-repeat;
}

.kg {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
}

.hit-background {
	position: absolute;
	top: 0;
	width: 61px;
	height: 61px;
	background-image: url("../img/hit-logo.svg");
}

.catalog-item h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color:  rgba(255, 255, 255, 0.2);
	margin: 0;
	margin-top: 7px;
	padding: 0;
	padding-left: 5px;
	text-align: center;
}

.catalog-item-over {
	position: absolute;
	top: -6px;
	left: -13px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	width: 293px;
	height: 405px;
	opacity: 0;
	z-index: -1;
}

.catalog-quick-button {
	position: absolute;
	bottom: -55px;
	width: 200px;
	height: 44px;
	border-radius: 15px;
	margin-left: 33px;
	padding-top: 12px;
	opacity: 0;
	z-index: 2;
}

.catalog-item:hover .catalog-item-over,
.catalog-item:focus .catalog-item-over,
.catalog-item:hover .catalog-quick-button,
.catalog-item:focus .catalog-quick-button {
	opacity: 1;
}

.catalog-item:hover,
.catalog-item:focus {
	z-index: 1;
}

.features {
	min-height: 306px;
	background-image: url("../img/waffle-background.jpg");
	color: #323232;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 25px 20px 10px;
}

.features h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 0;
}

.features-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 1px;
}

.feature-item {
	width: 540px;
}

.features-list p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin-left: 56px;
	padding-top: 4px;
}

.features-list li:last-child p {
	margin-left: 52px;
}

.news-subscribe-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.news {
	width: 560px;
	height: 220px;
	border-radius: 15px;
	background-color: #ffffff;
	background-image: url("../img/strawberry-background.png");
	background-position: 204px -36px;
	background-repeat: no-repeat;
	color: #323232;
}

.news h2 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

.news a:hover,
.news a:focus,
.news a:active {
	color: #e84d37;
	text-decoration-color: rgba(232, 77, 55, 0.302);
}

.subscribe-section {
	width: 560px;
	height: 220px;
	border-radius: 10px;
	padding-top: 5px;
	background-image: url("../img/postal-background.svg");
}

.subscribe-container {
	margin: 0 auto;
	width: 548px;
	height: 210px;
	border-radius: 10px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	background-color: #f8f7f4;
	overflow: hidden;
}

.subscribe-container .button, .map button {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map {
	width: 100vw;
  	position: relative;
  	left: 50%;
  	right: 50%;
  	margin-left: -50vw;
  	margin-right: -50vw;
  	margin-bottom: 5px;
}

.map-background {
	margin: 0 auto;
	width: 1200px;
	height: 430px;
	background-color: #f7f1d9;
	background-image: url("../img/map-pin.png");
	background-repeat: no-repeat;
	background-position: center;
}

.map-info {
	background-color: #fbfbfb;
}

.map p {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.map b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.map-phone {
	line-height: 22px;
}

.map-schedule {
	line-height: 22px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}

.main-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social {
	display: flex;
}

.footer-social a {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.5);
	margin-right: 14px;
}

.footer-social li:first-child a {
	background-image: url("../img/twitter-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.footer-social li:nth-child(2) a {
	background-image: url("../img/insta-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.footer-social li:nth-child(3) a {
	background-image: url("../img/fb-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.footer-social li:last-child a {
	background-image: url("../img/vk-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.footer-social li a:hover,
.footer-social li a:focus {
	opacity: 1;
	border-color: rgba(255, 255, 255, 0.7);
}

.footer-social li a:active {
	opacity: 0.9;
	border-color: rgba(255, 255, 255, 0.7);
}

.footer-features {
	display: flex;
	width: 310px;
	min-height: 50px;
	flex-wrap: wrap;
}

.footer-features li:first-child a {
	margin-right: 30px;
}

.footer-features li:nth-child(3) a {
	margin-right: 42px;
}

.footer-features a,
.footer-copyright a {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.footer-features a:hover,
.footer-features a:focus,
.footer-features a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
	text-decoration-color:  rgba(255, 188, 158, 0.3);
}

.heart + a {
	font-weight: 700;
}

.footer-copyright p {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.modal-feedback p {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.modal-feedback button, .modal-basket .button {
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.modal-basket {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}
.basket-price {
	color: #999999;
}

.total-price span {
	color: #323232;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.full-basket button {
	color: #323232;
	background-color: #f7f6f3;
}

.breadcrumbs,
fieldset ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs {
	display: flex;
	justify-content: space-between;
	width: 219px;
}

.breadcrumbs a, .breadcrumbs li {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs a {
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
	color: #ffbc9e;
	text-decoration-color:  rgba(255, 188, 158, 0.3);
}

h1.page-title {
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.filter-wrapper-1,
.filter-wrapper-2 {
	display: flex;
	justify-content: space-between;
	width: 860px;
}

.filter-wrapper-1 {
	margin-bottom: 15px;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	margin: 5px;
}

.fat-filter ul,
.staff-filter ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.catalog-filter {
	margin-bottom: 40px;
}

.catalog-filter label, .catalog-filter legend {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-wrapper-1 select {
	width: 193px;
	height: 36px;
	border-radius: 15px;
}

.fat-filter ul {
	width: 414px;
	height: 36px;
	border-radius: 15px;
}

.staff-filter ul {
	width: 702px;
	height: 36px;
	border-radius: 15px;
}

.filter-price-background {
	width: 218px;
	height: 36px;
	border-radius: 15px;
}

.runner-left svg:hover,
.runner-left svg:focus,
.runner-right svg:hover,
.runner-right svg:focus {
	cursor: pointer;
}

.filter option, .filter-option label {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

button.filter-button {
	align-self: flex-end;
	width: 143px;
	height: 36px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: #a6b7ae;
	border-style: solid;
  	border-width: 2px;
  	border-color: rgb(255, 255, 255);
}

button.filter-button:hover,
button.filter-button:focus {
	background-color: #fbfcfb;
	color: #323232;
}

.catalog-filter fieldset {
	border: none;
}

.catalog-filter select, .filter-price-background, fieldset ul {
	background-color: #a6b7ae;
}

.catalog-filter select {
	border: none;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.catalog-filter select:hover,
.catalog-filter select:focus,
.filter-option label:hover,
.filter-option label:focus {
	color: #323232;
}

.catalog-container {
	margin-bottom: 75px;
}

.pagination-list {
	display: flex;
	width: 190px;
	min-height: 30px;
	list-style: none;
	margin: 0;
	margin-bottom: 30px;
	margin-left: auto;
	padding: 0;
}

.pagination-item {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	padding-top: 3px;
}

.pagination-list a {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-item:not(.pagination-item-current):hover,
.pagination-item:not(.pagination-item-current):focus {
	background-color: #9db1a5;
}

.pagination-item:not(.pagination-item-current):active {
	background-color: #ffffff;
}

.pagination-item:not(.pagination-item-current):active a {
	color: #323232;
}

.pagination-item-current {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
}

.pagination-item-current a {
	color: #323232;
}


	


/*

.mom-of-slides {
	height: 881px;
	margin-left: 80px;
	position: relative;
	width: 1079px;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	opacity: 0;
	z-index: 0;
}

input:nth-of-type(1):checked ~ .slider > .slide1,
input:nth-of-type(2):checked ~ .slider > .slide2,
input:nth-of-type(3):checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
}

.mom-of-slides .controls {
	top: 563px;
	left: -53px;
	position: absolute;
}

.mom-of-slides label {
	cursor: pointer;
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 5px;
	background-image: url("../img/radio-off.svg");
	position: relative;
	z-index: 100;
}

.mom-of-slides label:hover,
input:nth-of-type(1):checked ~ .controls label:nth-of-type(1),
input:nth-of-type(2):checked ~ .controls label:nth-of-type(2),
input:nth-of-type(3):checked ~ .controls label:nth-of-type(3) {
	background-image: url("../img/radio-on.svg");
}

.slide-description {
	position: absolute;
	height: 120px;
	text-align: center;
	top: 398px;
	z-index: 0;
	padding-left: 190px;
}

.slide-description h3 {
	font-size: 60px;
	color: white;
	width: 670px;
	line-height: 1;
}

.slide3 h3 {
	width: 640px;
}

*/





